## Fehler beheben mit Pandas

Es gibt Funktionen die fehlerhafte Werte erkennen können. Danach können wir all diese Werte ersetzen durch valide Werte.

Viele dieser Funktionen kommen von Numpy

In [1]:
import numpy as np
import pandas as pd

In [5]:
pd.isnull(np.NaN)  # Alternative: isna() -> selbe Funktion

True

In [8]:
pd.notnull(np.NaN)  # Alternative notna() -> selbe Funktion

False

Diese Funktionen funktionieren auch mit DataFrames (und Serien)

In [9]:
serie = pd.Series([1, np.NaN, 3])

In [10]:
serie

0    1.0
1    NaN
2    3.0
dtype: float64

In [13]:
pd.isnull(serie)

0    False
1     True
2    False
dtype: bool

In [14]:
pd.notnull(serie)

0     True
1    False
2     True
dtype: bool

In [18]:
serie[pd.isnull(serie)] = 0  # Bei NaN Werten 0 eintragen

In [17]:
serie

0    1.0
1    0.0
2    3.0
dtype: float64

In [66]:
data = pd.read_csv("Data\PopulationData.csv", delimiter=";", decimal=".", thousands=",", index_col=0, usecols=lambda x: x != "#")  #.drop(columns="#")

In [29]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    int64
 1   YearlyChange      235 non-null    object
 2   NetChange         235 non-null    int64
 3   Density(P/Km²)    235 non-null    int64
 4   Land Area(Km²)    235 non-null    int64
 5   Migrants(net)     201 non-null    float64
 6   Fert.Rate         235 non-null    object
 7   Med.Age           235 non-null    object
 8   UrbanPop %        235 non-null    object
 9   WorldShare        235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 20.2+ KB

In [31]:
data.isnull()  # Boolean Maske

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

In [32]:
data.isnull().sum()

Population(2020)     0
YearlyChange         0
NetChange            0
Density(P/Km²)       0
Land Area(Km²)       0
Migrants(net)       34
Fert.Rate            0
Med.Age              0
UrbanPop %           0
WorldShare           0
dtype: int64

In [34]:
data[data["Migrants(net)"].isnull()]  # Alle Datensätze mit Fehlerhaften Werten finden

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,NaN,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,NaN,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,NaN,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,NaN,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,NaN,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,NaN,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,NaN,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,NaN,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,NaN,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,NaN,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,NaN,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,NaN,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,NaN,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,NaN,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [42]:
data.dropna()

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare,NaN
Country (or dependency),,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %,0
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %,0
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %,0
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %,0
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %,0
...,...,...,...,...,...,...,...,...,...,...,...
Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %,0
Tonga,105695,1.15 %,1201,147,720,-800.0,3.6,22,24 %,0.00 %,0
U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %,0
Seychelles,98347,0.62 %,608,214,460,-200.0,2.5,34,56 %,0.00 %,0
Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %,0

In [46]:
data.dropna(axis=1)  # Ganze Spalte mit Fehlern löschen

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,N.A.,N.A.,N.A.,0.00 %

Die dropna() Funktion kann noch konfiguriert werden

In [47]:
data.dropna(how='any')  # Lösche alle Felder bei denen es mindestens einen NaN Wert gibt (how='all' für NaN Werte)

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %
Tonga,105695,1.15 %,1201,147,720,-800.0,3.6,22,24 %,0.00 %
U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %
Seychelles,98347,0.62 %,608,214,460,-200.0,2.5,34,56 %,0.00 %
Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %

In [48]:
data.dropna(thresh=2)  # Lösche alle Zeilen die mindestens zwei Fehler haben

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

## Fehlerhafte Werte ersetzen

Es gibt mehrere Möglichkeiten fehlerhafte Werte zu ersetzen. Es kommt dabei auf das Datenset an, welche neuen Werte Sinn machen.

In [52]:
data.fillna(0)  # Füllt jeden NaN Wert aus

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [114]:
data["Migrants(net)"] = data["Migrants(net)"].fillna(0)  # Einzelne Spalte ausfüllen

In [55]:
data.tail(50)

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
French Polynesia,280908,0.58 %,1621,77,3660,-1000.0,2.0,34,64 %,0.00 %
Mayotte,272815,2.50 %,6665,728,375,0.0,3.7,20,46 %,0.00 %
Sao Tome & Principe,219159,1.91 %,4103,228,960,-1680.0,4.4,19,74 %,0.00 %
Samoa,198414,0.67 %,1317,70,2830,-2803.0,3.9,22,18 %,0.00 %
Saint Lucia,183627,0.46 %,837,301,610,0.0,1.4,34,19 %,0.00 %
Channel Islands,173863,0.93 %,1604,915,190,1351.0,1.5,43,30 %,0.00 %
Guam,168775,0.89 %,1481,313,540,-506.0,2.3,31,95 %,0.00 %
Curaçao,164093,0.41 %,669,370,444,515.0,1.8,42,89 %,0.00 %
Kiribati,119449,1.57 %,1843,147,810,-800.0,3.6,23,57 %,0.00 %
Grenada,112523,0.46 %,520,331,340,-200.0,2.1,32,35 %,0.00 %
St. Vincent & Grenadines,110940,0.32 %,351,284,390,-200.0,1.9,33,53 %,0.00 %
Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %
Tonga,105695,1.15 %,1201,147,720,-800.0,3.6,22,24 %,0.00 %
U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %
Seychelles,98347,0.62 %,608,214,460,-200.0,2.5,34,56 %,0.00 %
Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %
Isle of Man,85033,0.53 %,449,149,570,NaN,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,NaN,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,NaN,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,NaN,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,NaN,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,NaN,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,NaN,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,NaN,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,NaN,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,NaN,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,NaN,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,NaN,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,NaN,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,NaN,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [57]:
data["Migrants(net)"].fillna(method="bfill")  # Übernimmt den Wert des Datensatzes mit dem oberen nicht-leeren Wert
data["Migrants(net)"].fillna(method="ffill")  # Übernimmt den Wert des Datensatzes mit dem unteren nicht-leeren Wert

Country (or dependency)
China              -348399.0
India              -532687.0
United States       954806.0
Indonesia           -98955.0
Pakistan           -233379.0
                      ...
Montserrat               0.0
Falkland Islands         0.0
Niue                     0.0
Tokelau                  0.0
Vatican State            0.0
Name: Migrants(net), Length: 235, dtype: float64

## Fehlerhafte andere Werte ersetzen

Oftmals werden Fehler durch Formatierung verursacht (z.B.: Prozentzeichen an Ende). Auch diese können ausgebessert werden, allerdings gibt es dafür keine direkte Methode.

In [58]:
data["Med.Age"] == "N.A."

Country (or dependency)
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: Med.Age, Length: 235, dtype: bool

In [59]:
data[data["Med.Age"] == "N.A."]

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,NaN,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,NaN,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,NaN,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,NaN,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,NaN,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,NaN,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,NaN,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,NaN,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,NaN,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,NaN,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,NaN,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,NaN,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,NaN,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,NaN,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,NaN,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,NaN,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,NaN,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,NaN,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,NaN,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,NaN,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,NaN,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,NaN,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [62]:
data.loc[data["Med.Age"] == "N.A.", "Med.Age"] = 0  # 0 ist hier nicht unbedingt der beste Wert

In [63]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,0,N.A.,0.00 %

In [74]:
filtered = data[data["Med.Age"] != "N.A."]
mean = filtered["Med.Age"].astype(int).mean()
data.loc[data["Med.Age"] == "N.A.", "Med.Age"] = mean

In [75]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,30.621891,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,30.621891,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,30.621891,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,30.621891,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,30.621891,N.A.,0.00 %

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    int64
 1   YearlyChange      235 non-null    object
 2   NetChange         235 non-null    int64
 3   Density(P/Km²)    235 non-null    int64
 4   Land Area(Km²)    235 non-null    int64
 5   Migrants(net)     201 non-null    float64
 6   Fert.Rate         235 non-null    object
 7   Med.Age           235 non-null    object
 8   UrbanPop %        235 non-null    object
 9   WorldShare        235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

In [84]:
data = data.convert_dtypes()  # Automatische Konvertierung (funktioniert nicht immer)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    Int64
 1   YearlyChange      235 non-null    string
 2   NetChange         235 non-null    Int64
 3   Density(P/Km²)    235 non-null    Int64
 4   Land Area(Km²)    235 non-null    Int64
 5   Migrants(net)     201 non-null    Int64
 6   Fert.Rate         235 non-null    string
 7   Med.Age           235 non-null    object
 8   UrbanPop %        235 non-null    string
 9   WorldShare        235 non-null    string
dtypes: Int64(5), object(1), string(4)
memory usage: 29.4+ KB

In [86]:
data["Med.Age"] = data["Med.Age"].astype(float)

In [87]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399,1.7,38.000000,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687,2.2,28.000000,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806,1.8,38.000000,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955,2.3,30.000000,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379,3.6,23.000000,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,<NA>,N.A.,30.621891,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,<NA>,N.A.,30.621891,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,<NA>,N.A.,30.621891,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,<NA>,N.A.,30.621891,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,<NA>,N.A.,30.621891,N.A.,0.00 %

In [89]:
data.loc[data["Fert.Rate"] == "N.A.", "Fert.Rate"] = "0"

In [92]:
data["Fert.Rate"] = data["Fert.Rate"].astype(float)

In [94]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399,1.7,38.000000,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687,2.2,28.000000,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806,1.8,38.000000,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955,2.3,30.000000,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379,3.6,23.000000,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,<NA>,0.0,30.621891,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,<NA>,0.0,30.621891,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,<NA>,0.0,30.621891,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,<NA>,0.0,30.621891,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,<NA>,0.0,30.621891,N.A.,0.00 %

In [103]:
data["YearlyChange"].replace(" %", "", regex=True)  # regex=True um Teile der Werte zu ersetzen (sonst werden nur ganze Werte angeschaut)

Country (or dependency)
China               0.39
India               0.99
United States       0.59
Indonesia           1.07
Pakistan            2.00
                    ...
Montserrat          0.06
Falkland Islands    3.05
Niue                0.68
Tokelau             1.27
Vatican State       0.25
Name: YearlyChange, Length: 235, dtype: string

In [104]:
data["YearlyChange"] = data["YearlyChange"].replace(" %", "", regex=True)

In [105]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38.000000,61 %,18.47 %
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28.000000,35 %,17.70 %
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38.000000,83 %,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30.000000,56 %,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23.000000,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,<NA>,0.0,30.621891,10 %,0.00 %
Falkland Islands,3480,3.05,103,0,12170,<NA>,0.0,30.621891,66 %,0.00 %
Niue,1626,0.68,11,6,260,<NA>,0.0,30.621891,46 %,0.00 %
Tokelau,1357,1.27,17,136,10,<NA>,0.0,30.621891,0 %,0.00 %
Vatican State,801,0.25,2,2003,0,<NA>,0.0,30.621891,N.A.,0.00 %

In [106]:
def replacePct(dataframe, colName):
    dataframe[colName] = dataframe[colName].replace(" %", "", regex=True)

In [107]:
replacePct(data, "UrbanPop %")

In [110]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38.000000,61,18.47 %
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28.000000,35,17.70 %
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38.000000,83,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30.000000,56,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23.000000,35,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,<NA>,0.0,30.621891,10,0.00 %
Falkland Islands,3480,3.05,103,0,12170,<NA>,0.0,30.621891,66,0.00 %
Niue,1626,0.68,11,6,260,<NA>,0.0,30.621891,46,0.00 %
Tokelau,1357,1.27,17,136,10,<NA>,0.0,30.621891,0,0.00 %
Vatican State,801,0.25,2,2003,0,<NA>,0.0,30.621891,N.A.,0.00 %

In [111]:
replacePct(data, "WorldShare")

In [115]:
data

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38.000000,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28.000000,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38.000000,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30.000000,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23.000000,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0,0.0,30.621891,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0,0.0,30.621891,66,0.00
Niue,1626,0.68,11,6,260,0,0.0,30.621891,46,0.00
Tokelau,1357,1.27,17,136,10,0,0.0,30.621891,0,0.00
Vatican State,801,0.25,2,2003,0,0,0.0,30.621891,N.A.,0.00

In [122]:
data["UrbanPop %"] = data.loc[data["UrbanPop %"] == "N.A.", "UrbanPop %"] = 0

In [119]:
data.convert_dtypes()

,Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
Country (or dependency),,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38.0,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28.0,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38.0,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30.0,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23.0,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0,0.0,30.621891,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0,0.0,30.621891,66,0.00
Niue,1626,0.68,11,6,260,0,0.0,30.621891,46,0.00
Tokelau,1357,1.27,17,136,10,0,0.0,30.621891,0,0.00
Vatican State,801,0.25,2,2003,0,0,0.0,30.621891,N.A.,0.00

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    Int64
 1   YearlyChange      235 non-null    string
 2   NetChange         235 non-null    Int64
 3   Density(P/Km²)    235 non-null    Int64
 4   Land Area(Km²)    235 non-null    Int64
 5   Migrants(net)     235 non-null    Int64
 6   Fert.Rate         235 non-null    float64
 7   Med.Age           235 non-null    float64
 8   UrbanPop %        235 non-null    string
 9   WorldShare        235 non-null    string
dtypes: Int64(5), float64(2), string(3)
memory usage: 29.4+ KB

In [123]:
data["UrbanPop %"] = data["UrbanPop %"].astype(float)

In [124]:
data["YearlyChange"] = data["YearlyChange"].astype(float)

In [125]:
data["WorldShare"] = data["WorldShare"].astype(float)

In [126]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Population(2020)  235 non-null    Int64
 1   YearlyChange      235 non-null    float64
 2   NetChange         235 non-null    Int64
 3   Density(P/Km²)    235 non-null    Int64
 4   Land Area(Km²)    235 non-null    Int64
 5   Migrants(net)     235 non-null    Int64
 6   Fert.Rate         235 non-null    float64
 7   Med.Age           235 non-null    float64
 8   UrbanPop %        235 non-null    float64
 9   WorldShare        235 non-null    float64
dtypes: Int64(5), float64(5)
memory usage: 29.4+ KB